@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");

@font-face {
  font-family: "customfont";
  src: url("./assets/fonts/GLOBUS.TTF") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.562);
}

.bordered {
  border: var(--border-width) solid var(--border-color);
}

canvas {
  display: block;
}

#canvas {
  position: relative;
}

#canvas::before {
  content: "knikkerbaan";
  position: absolute;
  top: 0;
  left: 0;
  margin: -2.15rem 0 0 -0.25rem;
  font-family: "customfont";
  font-size: 5rem;
}
